/* comptres.component.scss */

ion-content {
    background-color: #f0f0f0; /* Fondo gris claro */
  }
  
  ion-card {
    background-color: #333; /* Fondo gris oscuro */
    color: #ffffff; /* Texto blanco */
  }
  
  ion-button {
    --background: #800080; /* Morado */
    --color: #ffffff; /* Texto blanco */
  }
  